.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;

  @include appearOnScroll(3rem);

  @media only screen and (max-width: 56.25em) {
    flex-direction: column;
    padding: 0 6rem;
  }

  @media only screen and (max-width: 31.25em) {
    padding: 0 1rem;
  }
  
  &:not(:last-child) {
    margin-bottom: var(--gutter-horizontal-sm);
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;
    
    @media only screen and (max-width: 56.25em) {
      flex-direction: column;
    }
    
    .project__name{
      text-align: left;
    }

    .project__buttons {
      flex-direction: row-reverse;
      
      @media only screen and (max-width: 56.25em) {
        flex-direction: row;
      }

      & .btn__secondary{
        margin: 0;
      }
    }
  }

  &__name {
    text-align: right;
    margin-top: 2rem;

    @media only screen and (max-width: 56.25em) {
      text-align: left;
    }
  }

  &__photos{
    width: 54%;

    @media only screen and (max-width: 56.25em) {
      width: 100%;
    }
  }

  &__photo{
    width: 100%;
    filter: brightness(.9);
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    @media only screen and (max-width: 56.25em) {
      position: static;
      width: 100%;
    }
    
    transition: all .2s linear .1s;
  }

  &__details{
    width: 42%;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 56.25em) {
      width: 100%;
      padding: 0;
    }
  
    & > * {
      &:not(last-child) {
        margin-bottom: 3rem;     
      }
    }
  }

  &__technologies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 1rem;
    
    & > * {
      text-transform: capitalize;
      padding: 4px 6px;
      background-color: var(--color-primary-light);
      border-radius: 2px;
      font-size: 1.4rem;
    }
  }

  &__description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: justify;
    color: var(--color-grey-light);

    @media only screen and (max-width: 31.25em) {
      font-size: 1.7rem;
    }
  }

  &__buttons{
    display: flex;
    justify-content: flex-end;
    user-select: none;

    @media only screen and (max-width: 56.25em) {
      justify-content: flex-start;
    }
    
    & > * {
      margin-left: 2rem;
      
      @media only screen and (max-width: 56.25em) {
        margin-right: 2rem;
        margin-left: 0;
      }
    }
  }
}