.project {
  width: 100%;
  display: flex;
  user-select: none;

  display: flex;
  justify-content: space-between;

  &:not(:last-child) {
    margin-bottom: var(--gutter-horizontal-sm);
  }

  &:nth-child(odd) {
    flex-direction: row-reverse;

    .project__name{
      text-align: left;
    }

    .project__buttons {
      flex-direction: row-reverse;

      & .btn__secondary{
        margin: 0;
      }
    }
  }

  &__name {
    text-align: right;
  }

  &__photos{
    width: 50%;
    position: relative;
  }

  &__photo{
    width: 28rem;
    opacity: 95%;
    z-index: 5;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    position: absolute;
    top: 50%;
    left: 50%;
    
    transition: all .2s linear .1s;

    &:hover {
      transform: scale(1.2);
      z-index: 10;
      outline: var(--color-secondary) solid 6px;
      outline-offset: 1rem; 
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      opacity: 100%;
    }

    &--1 {
      top: 4rem;
      left: 2rem;
    }

    &--2 {
      top: 8rem;
      left: 22rem;
    }
    
    &--3 {
      top: 14rem;
      left: 14rem;
    }
  }

  &__details{
    width: 42%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  
    & > * {
      &:not(last-child) {
        margin-bottom: 3rem;     
      }
    }
  }

  &__technologies {
    display: flex;
    justify-content: space-between;
    
    & > * {
      text-transform: capitalize;
      padding: 4px 6px;
      background-color: var(--color-primary-light);
      border-radius: 2px;
      font-size: 1.4rem;
    }
  }

  &__description {
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: justify;
    color: var(--color-grey-light);
  }

  &__buttons{
    display: flex;
    justify-content: flex-end;
    
    & > * {
      margin-left: 2rem;
    }
  }
}