@mixin appearOnScroll($transformVal) {
  opacity: 0;
  transform: translateY($transformVal);
  
  transition: all .4s ease-in;
  transition-delay: .2s;
  
  &.appear {
    transform: translateY(-2rem);
    opacity: 1;
  }
}