// // BREAKPOINTS
// $bp-lap-smallest: 75em;  //1200px
// $bp-tab-largest: 68.75em; // 1100px
// $bp-medium: 56.25em; // 900px
// $bp-small: 43.75em; // 700px
// $bp-smallest: 31.25em; // 500px


:root{
  // PRIMARY COLORS
  --color-primary: #101010;
  --color-primary-light: #292929;

  // SECONDARY COLORS
  --color-secondary:#EA281E;
  --color-secondary-light: rgba(234, 40, 30, .1);
  --color-secondary-dark: hsl(3, 83%, 44%);

  // TERTIARY COLORS
  --color-white:#F7F7FA;
  --color-grey: #999999;
  --color-grey-light: #CCCCCC;

  // SPACING
  --max-width: 106rem;
  --gutter-horizontal: 20rem;
  --gutter-horizontal-sm: 11rem;


  @media only screen and (max-width: 75em) {
    --max-width: 96rem;
  }

  @media only screen and (max-width: 68.75em) {
    --max-width: 100rem;
  }
}
