.btn{
  padding: 1rem 2.4rem;
  border-radius: 2px;
  font-size: 1.4rem;
  text-transform: capitalize;
  letter-spacing: 0.4px;
  
  transition: all;
  transition-delay: .1s;

  -webkit-user-select: none; 
  user-select: none;

  // PRIMARY BUTTON STYLES

  &__primary{
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--color-white);
    background-color: var(--color-secondary);
    
    &:hover{
      background-color: var(--color-secondary-dark);
      transform: translateY(-1.5px);
    }

    &:active {
      display: flex;
      align-items: center;
      transform: translateY(.5px);
    }
    
    &__icon {
      fill: var(--color-white);
      width: 1.4rem;
      height: 1.4rem;
      margin-right: .8rem;
    }
  }



  // SECONDARY BUTTON STYLES

  &__secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    background-color: transparent;
    outline: none;

    &:hover{
      background-color: var(--color-secondary-light);
      transform: translateY(-1.5px);
      cursor: pointer;
    }

    &:active {
      display: flex;
      align-items: center;
      transform: translateY(.5px);
      cursor: pointer;
    }

    &__icon {
      fill: var(--color-secondary);
      width: 1.6rem;
      height: 1.6rem;
      margin-right: .8rem;
    }
  }


  // TERTIARY BUTTON STYLES

  &__tertiary {
    position: relative;

    font-size: 1.6rem;
    line-height: 2.2rem;
    color: var(--color-white);
    padding: 4px 1px;
    margin-left: 2px;

    &::before {
      content: '';
      height: 1px;
      width: 100%;
      background-color: var(--color-white);
      
      position: absolute;
      bottom: 0;
      left: 0;
    }

    &::after {
      content: '';
      display: inline-block;
      height: 1px;
      width: 100%;
      transform: scale(-.5);
      
      position: absolute;
      bottom: 0;
      left: 0;

      transition: transform .6s linear;
      transform-origin: center;
    }


    &:hover{
      color: var(--color-secondary);
      
      &::after {
        content: '';
        height: 1px;
        background-color: var(--color-secondary);
        transform: scale(1);
      }
    }

    &:active {
      top: 1px;
    }
  }
}