.preloader {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: var(--color-secondary);
  z-index: 99999;
  color: var(--color-primary);
  font-weight: 400;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  clip-path: circle(100%);
  padding: 0;

  transition: clip-path .5s ease 1.6s, top .6s linear 2s;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 22rem;
    width: 44rem;

    transition: opacity .4s ease .5s;

    &--hide {
      opacity: 0;
    }
  }

  &__year {
    display: inline-block;
    font-size: 6.4rem;
    margin-top: auto;

    animation: fadeIn 600ms;
  }

  &__text {
    display: inline-block;
    font-size: 2.8rem;
    margin: auto;
    text-transform: capitalize;

    animation: fadeIn 600ms;
  }

  &__progress-bar {
    max-width: 40%;
    background-color: var(--color-primary);
    height: 2px;
    border-radius: 1rem;
  }

  progress::-webkit-progress-bar {
    background-color: transparent;
  }

  progress::-webkit-progress-value {
    background-color: var(--color-primary) !important;
  }


  /* For Firefox */
  progress {
    background-color: transparent;
    border: none;
  }

  progress::-moz-progress-bar {
    background-color: var(--color-primary) !important;
  }

  // progress[value] {
  //   background-color: var(--color-primary) !important;
  // }

  &__welcome {
    position: absolute;
    text-transform: capitalize;
    font-size: 4rem;

    transition: opacity .5s ease 1s;
    
    &--hide {
      opacity: 0;
    }
  }
  
  &--hide {
    top: -200%;
    // opacity: 0;
    // z-index: -99999;
    // clip-path: circle(180vh at 50% -80vh);
    clip-path: circle(180vh at 51% -80vh);
    // border-bottom-left-radius: 50%;
    // border-bottom-right-radius: 50%;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(3rem);
    opacity: 0;
  }

  60% {
    opacity: .3;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}