.header{
  height: 94vh; 
  background-image: linear-gradient( rgba(158, 158, 158, .1), var(--color-primary));
  max-width: 100%;
  margin: 0;
  
  display: flex;
  flex-direction: column;

  .heading1 {
    @media only screen and (max-width: 56.25em) {
      padding: 0 1rem;
    }
  }

  &__text{
    max-width: var(--max-width);
    margin: auto;
  }

  &__social {
  position: fixed;
  bottom: 0;
  right: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  height: 55%;

  @media only screen and (max-width: 43.75em) {
    display: none;
  }

  &::after {
    content: '';
    display: block;
    width: 2px;
    height: 16rem;
    background-color: var(--color-white);
  }

  &_link {
    fill: var(--color-white);
    height: 2rem;
    width: 2rem;

    transition: all .1s;
    
    &--twitter{
      stroke: var(--color-white);
    }
    
    &:hover {
      transform: translateY(-1.5px);
      fill: var(--color-secondary);
    }
    
    &--twitter:hover {
      stroke: var(--color-secondary);
    }

    &:active {
      transform: translateY(1.6px);
    }
    
  }
}
} 