.header{
  height: 94vh; 
  max-width: 100%;
  margin: 0;
  position: relative;
  
  display: flex;
  flex-direction: column;

  &__img {
    position: absolute;
    top: -1rem;
    left: 0;
    
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0.01%, var(--color-primary) 99%),
    url('https://ik.imagekit.io/ml22hal4lxj/portfolio_images/IMG_20210304_224434-modified_E1Jxts_xK.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1650721886437');
    background-size: 150%;
    background-position: -18rem 36%;
    background-repeat: no-repeat;
  
    @media only screen and (max-width: 31.25em) {
      background-position: -10rem 36%;
    }

  }

  .heading1 {
    @media only screen and (max-width: 56.25em) {
      padding: 0 1rem;
    }
  }

  &__text{
    max-width: var(--max-width);
    // margin: auto;

    margin-top: auto;
    margin-bottom: 3rem;
  }

  &__social {
  position: fixed;
  bottom: 0;
  right: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  height: 55%;

  @media only screen and (max-width: 43.75em) {
    display: none;
  }

  &::after {
    content: '';
    display: block;
    width: 2px;
    height: 16rem;
    background-color: var(--color-white);
  }

  &_link {
    fill: var(--color-white);
    height: 2rem;
    width: 2rem;

    transition: all .1s;
    
    &--twitter{
      stroke: var(--color-white);
    }
    
    &:hover {
      transform: translateY(-1.5px);
      fill: var(--color-secondary);
    }
    
    &--twitter:hover {
      stroke: var(--color-secondary);
    }

    &:active {
      transform: translateY(1.6px);
    }
    
  }
}
} 