.header{
  height: 94vh; 
  background-image: linear-gradient( rgba(158, 158, 158, .1), var(--color-primary));
  max-width: 100%;
  margin: 0;
  
  &__text{
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 5rem;
  }
}