html {
  font-size: 62.5%;  
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-white);
  background-color: var(--color-primary); 
}

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

::selection {
  background-color: var(--color-secondary);
  color: var(--color-white);
}