.work{
  opacity: 0;
  transform: translateY(4rem);
  transition: all .4s ease-in;

  &.appear {
    opacity: 1;
    transform: translateY(0);
  }

  .heading2{
    margin-bottom: 3rem;

    @media only screen and (max-width: 56.25em) {
      margin-bottom: 4rem;
    }
  }
}